<div class="container d-flex align-items-center justify-content-center" style="width: 100vw; height: 100vh;">
	<form class="p-5 border needs-validation" [formGroup]="userForm" (ngSubmit)="registerUser()">
		<div class="mb-3">
			<label for="name" class="form-label">Name</label>
			<input type="text" class="form-control" [ngClass]="{'is-invalid':!userForm.controls.name.valid && userForm.controls.name.touched}" id="name" formControlName="name">
		</div>
		<div class="mb-3">
			<label for="email" class="form-label">Email address</label>
			<input type="email" class="form-control" [ngClass]="{'is-invalid':!userForm.controls.email.valid && userForm.controls.email.touched}" id="email" formControlName="email">
		</div>
		<div class="mb-3">
			<label for="password" class="form-label">Password</label>
			<input type="password" class="form-control" [ngClass]="{'is-invalid':!userForm.controls.password.valid && userForm.controls.password.touched}" id="password" formControlName="password">
		</div>
		<button type="submit" class="btn btn-success float-end">Register</button>
	</form>
</div>