<div id="map" class="full flex-grow-1"></div>
<div id="add-catch-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Add Catch</h5>
				<button type="button" id="close-bootstrap-modal" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form class="row" [formGroup]="catchForm" (ngSubmit)="addCatch()">
					<div class="col-12 mb-3">
						<label for="type" class="form-label">Type</label>
						<input type="text" class="form-control" id="type" [ngClass]="{'is-invalid':!catchForm.controls.type.valid && catchForm.controls.type.touched}" formControlName="type">
					</div>
					<div class="col-12">
						<label for="weight" class="form-label">Weight</label>
					</div>
					<div class="col-6 mb-3">
						<div class="input-group">
							<input type="number" class="form-control" id="lbs" [ngClass]="{'is-invalid':!catchForm.controls.lbs.valid && catchForm.controls.lbs.touched}" formControlName="lbs">
							<span class="input-group-text">Lbs</span>
						</div>
					</div>
					<div class="col-6 mb-3">
						<div class="input-group">
							<input type="number" class="form-control" id="oz" [ngClass]="{'is-invalid':!catchForm.controls.oz.valid && catchForm.controls.oz.touched}" formControlName="oz">
							<span class="input-group-text">oz</span>
						</div>
					</div>
					<div class="col-12 mb-3">
						<label for="rig" class="form-label">Rig</label>
						<input type="text" class="form-control" id="rig" [ngClass]="{'is-invalid':!catchForm.controls.rig.valid && catchForm.controls.rig.touched}" formControlName="rig">
					</div>
					<div class="col-12 mb-3">
						<label for="bait" class="form-label">Bait</label>
						<input type="text" class="form-control" id="bait" [ngClass]="{'is-invalid':!catchForm.controls.bait.valid && catchForm.controls.bait.touched}" formControlName="bait">
					</div>
					<input type="hidden" name="lat" formControlName="lat">
					<input type="hidden" name="lng" formControlName="lng">
					<input type="hidden" name="uid" formControlName="uid">
					<div class="col-12 d-flex justify-content-end">
						<button type="submit" class="btn btn-success me-1">Save changes</button>
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>