<nav class="navbar navbar-expand fixed-bottom navbar-dark bg-success" aria-label="Second navbar example">
	<div class="container-fluid">
		<ul class="navbar-nav w-100 d-flex justify-content-around">
			<li class="nav-item">
				<a class="nav-link fs-3" routerLink="catches" routerLinkActive="active"><fa-icon [icon]="faNewspaper"></fa-icon></a>
			</li>
			<li class="nav-item">
				<a class="nav-link fs-3" routerLink="map" routerLinkActive="active"><fa-icon [icon]="faMap"></fa-icon></a>
			</li>
			<li class="nav-item">
				<a class="nav-link fs-3" routerLink="profile" routerLinkActive="active"><fa-icon [icon]="faUser"></fa-icon></a>
			</li>
		</ul>
	</div>
</nav>