<div class="container h-100">
	<div class="row my-2">
		<div class="col d-flex justify-content-between">
			<a class="fs-3 text-success cursor-pointer" routerLink="settings"><fa-icon [icon]="faCog"></fa-icon></a>
			<a class="fs-3 text-success cursor-pointer" (click)="logout()"><fa-icon [icon]="faLogOut"></fa-icon></a>
		</div>
	</div>
	<div class="row d-flex justify-content-center g-0">
		<img src="{{ user.photoURL }}" alt="profile picture" class="avatar">
	</div>
	<div class="row text-center my-3">
		<h4>{{ user.displayName }}</h4>
	</div>
	<div class="row row-cols-2">
		<div class="col mb-2">
			<div class="card">
				<div class="card-body text-center">
					Fish Caught
					<p class="h3 text-center m-0">{{ count }}</p>
				</div>
			</div>
		</div>
		<div class="col mb-2">
			<div class="card">
				<div class="card-body text-center">
					Personal Best
					<p class="h3 text-center m-0">{{ personalBest.lbs }} lbs {{ personalBest.oz }} oz</p>
				</div>
			</div>
		</div>
		<div class="col mb-2">
			<div class="card">
				<div class="card-body text-center">
					My Fisheries
				</div>
			</div>
		</div>
		<div class="col mb-2">
			<div class="card">
				<div class="card-body text-center">
					My Trips
				</div>
			</div>
		</div>
	</div>
</div>