<div class="container">
	<div class="row mt-2">
		<div class="col d-flex justify-content-end">
			<a class="fs-3 text-success cursor-pointer" routerLink="settings"><fa-icon [icon]="faCog"></fa-icon></a>
		</div>
	</div>
	<div class="row justify-content-center mt-3 g-0">
		<img src="assets/profile_picture.JPEG" alt="" class="avatar">
	</div>
	<div class="row text-center my-3">
		<h4>Lewis Blundell</h4>
	</div>
	<div class="row row-cols-2">
		<div class="col mb-2">
			<div class="card">
				<div class="card-body text-center">
					Fish Caught
					<p class="h3 text-center m-0">6</p>
				</div>
			</div>
		</div>
		<div class="col mb-2">
			<div class="card">
				<div class="card-body text-center">
					Personal Best
					<p class="h3 text-center m-0">16lb 7oz</p>
				</div>
			</div>
		</div>
		<div class="col mb-2">
			<div class="card">
				<div class="card-body">
					This is some text within a card body.
				</div>
			</div>
		</div>
		<div class="col mb-2">
			<div class="card">
				<div class="card-body">
					This is some text within a card body.
				</div>
			</div>
		</div>
	</div>
</div>